<main>
  <header class="chat__header">
    <h1 class="chat__header__title">chat room</h1>
  </header>
  <section>
  </section>
  <footer class="chat__footer">
    <form class="chat__footer_form" action="" method="post">
      <input class="chat__footer__form__input__message" type="text" placeholder="type anything"/>
      <input class="chat__footer__form__input__send" type="submit" value="send" />
    </form>
  </footer>
</main>