<h1>Lista:</h1>

<table id="table">
  <thead>
    <tr>
      <th>id</th>
      <th>Titulo</th>
      <th>Descripción</th>
      <th>Precio</th>
    </tr>
  </thead>
  <tbody id="tableBody">
    {{#each products}}
    <tr>
      <td>{{id}}</td>
      <td>{{title}}</td>
      <td>{{description}}</td>
      <td>{{price}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>